In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
folder_name = "html_hs4"
filename_data_export_hs2 = "data/export-hs4.csv"
filename_data_export_hs2_pivot = "data/export-hs4-pivot.csv"

In [3]:
def getYearFromString(str):
    return [int(s) for s in str.split() if s.isdigit()][0]

In [4]:
big_list = []
for filename in os.listdir(folder_name) :
    #print(filename)
    path = folder_name+"/"+filename       
    print(path, end='\r')
    df = pd.read_json(path, orient='values')
#     print("HELLO : ",df[0][3])
    df = pd.read_html(df[0][3])[0].replace(np.nan,0)    
    
    
    for i in range(len(df)) : 
        if len(df) == 1 :  continue
        for j in range(2,len(df.columns)) : 
            if df.iloc[i, 1] == "World" :
                continue
            item = [getYearFromString(df.columns[j]), df.iloc[i, 1], "world", filename.replace(".json",""), df.iloc[i, j] ] 
            #print( item )
            big_list.append(item)
    
    #break
# df
#

In [5]:
newdf = pd.DataFrame(np.array(big_list), columns=['year_at', 'exporter', 'importer','hscode','value'])
newdf

        year_at               exporter importer hscode   value
0          2001       Hong Kong, China    world   0101  3183.0
1          2002       Hong Kong, China    world   0101   361.0
2          2003       Hong Kong, China    world   0101   586.0
3          2004       Hong Kong, China    world   0101   220.0
4          2005       Hong Kong, China    world   0101    36.0
...         ...                    ...      ...    ...     ...
4148132    2015  Serbia and Montenegro    world   9999     7.0
4148133    2016  Serbia and Montenegro    world   9999     0.0
4148134    2017  Serbia and Montenegro    world   9999     0.0
4148135    2018  Serbia and Montenegro    world   9999     0.0
4148136    2019  Serbia and Montenegro    world   9999     0.0

[4148137 rows x 5 columns]

In [6]:
newdf.to_csv(filename_data_export_hs2,index=False)

In [7]:
df_pivot = pd.pivot_table(newdf, values='value', index=['exporter','year_at'], columns=['hscode'], aggfunc=np.sum)
df_pivot = df_pivot.fillna(0)
df_pivot

hscode               0101   0102 0103 0104    0105    0106 0201 0202   0203  \
exporter    year_at
Afghanistan 2001        0      0    0  0.0       0     0.0    0    0      0
            2002        0      0    0  0.0       0     0.0    0    0      0
            2003        0      0    0  0.0       0     0.0    0    0      0
            2004        0      0    0  0.0       0     0.0    0    0      0
            2005        0      0    0  0.0       0     0.0    0    0      0
...                   ...    ...  ...  ...     ...     ...  ...  ...    ...
Zimbabwe    2015     58.0  590.0  0.0  0.0  3034.0   210.0  0.0  5.0    0.0
            2016     41.0   18.0  2.0  0.0  1924.0  1098.0  0.0  0.0    8.0
            2017     94.0    7.0  0.0  0.0   653.0  1477.0  0.0  0.0    5.0
            2018     22.0   70.0  3.0  0.0   148.0   348.0  0.0  0.0    6.0
            2019     24.0   64.0  0.0  0.0  1722.0  1240.0  0.0  0.0  211.0

hscode                0204  ... 9618   9619 9620   9701 9702    9703 9704  \
exporter    year_at         ...
Afghanistan 2001       0.0  ...    0      0    0      0    0       0    0
            2002       0.0  ...    0      0    0      0    0       0    0
            2003       0.0  ...    0      0    0      0    0       0    0
            2004       0.0  ...    0      0    0      0    0       0    0
            2005       0.0  ...    0      0    0      0    0       0    0
...                    ...  ...  ...    ...  ...    ...  ...     ...  ...
Zimbabwe    2015       0.0  ...  0.0  125.0    0   21.0  0.0  3010.0  0.0
            2016       0.0  ...  1.0  135.0    0  105.0  0.0  2969.0  0.0
            2017       0.0  ...  0.0   43.0    0   22.0  1.0  2261.0  0.0
            2018       0.0  ...  0.0  116.0    0  124.0  0.0  2253.0  0.0
            2019     203.0  ...  0.0  124.0    0   32.0  0.0  2173.0  0.0

hscode                  9705 9706    9999
exporter    year_at
Afghanistan 2001           0  0.0     0.0
            2002           0  0.0     0.0
            2003           0  0.0     0.0
            2004           0  0.0     0.0
            2005           0  0.0     0.0
...                      ...  ...     ...
Zimbabwe    2015     10360.0  0.0  1197.0
            2016     11067.0  0.0   706.0
            2017      8867.0  0.0   398.0
            2018      8996.0  0.0   501.0
            2019      8253.0  0.0  1450.0

[4503 rows x 1258 columns]

In [8]:
df_pivot.to_csv(filename_data_export_hs2_pivot,index=True)